@media screen and (max-width: 700px) {
  body > main {
    width: 650px;
  }
}
@media screen and (max-width: 650px) {
  body > main {
    width: 600px;
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  body > main {
    height: 505px;
  }
}
@media screen and (min-width: 413px) and (max-width: 500px) {
  body > main > aside > h1 {
    font-size: 2.3rem;
  }
  body > main > aside > div > .new-price {
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  body > main {
    flex-direction: column;
    width: 90%;
    height: 85%;
  }
  body > main > .img > img {
    border-radius: 10px 10px 0px 0px;
  }
  body > main > * {
    width: 100%;
  }
  body > main > aside {
    height: 60%;
  }
  body > main > .img {
    height: 40%;
  }
  body > main > .img > img:first-child {
    display: none;
  }
  body > main > .img > img:last-child {
    display: block;
  }
}
/* @media screen and (max-width : 700px) {
    body > main > aside > * {
        margin-block: 5px ;
    }
} */
